.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;

}

#menu_principal {
  font-family: Helvetica Neue;
  font-size: 15px;
  position: absolute;
  min-width: 200px;
  max-width: 200px;
  height: 50%;
  z-index: 10;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: auto;
  transition: all 0.5s ease-in-out;
}

#capas_base {
  position: absolute;
  width: 200px;
  z-index: 10;
  background: white;
  bottom: 1.9%;
  right: 0%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: auto;
}

.scrollable {
  overflow-y: auto;
  overflow-x: auto;
  height: 333px;
}

#acercaDe {
  position: absolute;
  display: none;
  z-index: 10;
  background: white;
  height: 50%;
  top: 10%;
  left: 75%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: auto;
}

#map {
  width: 100%;
 height: 100vh;
  border-left: 1px solid #fff;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}



.pad2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#navegacion {
  position: relative;
  z-index: 80;
  margin-right: 0px;
}

.menu {
  margin-right: 0px;
}

#logo {
  background-color: #033848;
}

.card {
  background-color: #BFBFBF;
}

.activo {
  background-color: #1C7CD5;
}

ul.list-unstyled>li {
  font-family: Helvetica Neue;
  font-size: 13px;
}

.nav-link, .fa-bars,.fa-info-circle  {
  color: white;
}

.item {
  cursor: pointer;
}

#ugas-politica {
  display: none;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 2.25rem;
}

.nav, .navbar-toggler {
  line-height: 2.3;
  color: white;
  font-family: Helvetica Neue;
}

.modal-content {
  background-color: #48556670;
  color: white;
}

.card-header {
  background-color: #1C7CD5;
}

li{

}
.btn{
  background-color: #1C7CD5;
  color: white;
    border: none;
}
#menu_principal.active {
    margin-left: -200px;
    transition: all 0.5s ease-in-out;
}


@media (min-width: 992px){

 #menu_principal{

   min-width: 240px;
   max-width: 240px;
   height: 80%;


 }


}
